/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Classes
   ========================================================================== */
.bg-leaf {
  background-image: url(../images/leaf_about_bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
}
