#parallax3 {
  background-image: url(../images/Nail-courseArea.jpg);
  height: 380px;
}
#parallax2 {
  background-image: url(../images/MakeUp-courseArea.jpg);
  height: 380px;
}
#parallax1 {
  background-image: url(../images/BeautyTherapy-courseArea.jpg);
  height: 380px;
}
