/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Classes
   ========================================================================== */
.rightBox-border {
  border: 10px solid rgba(255, 255, 255, 0.5);
}
.form-course-box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #05a8ba;
  color: #ffffff;
  margin-top: -150px;
  padding: 20px;
}
.fontSize-20 {
  font-size: 18px;
}
/******************************* 
**** Course snapshot 
********************************/
.course-snapshot-box {
  background-color: #f3f3f3;
  min-height: 20px;
  border-radius: 10px 30px 30px 10px;
}
