/* LESS Document */
/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Classes
   ========================================================================== */
@media (max-width: 991px) {
  .shadow {
    -webkit-box-shadow: -3px 3px 7px #d7d4d4;
    -moz-box-shadow: -3px 3px 7px #d7d4d4;
    box-shadow: -3px 3px 7px #d7d4d4;
  }
}
