/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Classes
   ========================================================================== */
.lighten-blue-1 {
  background-color: #2ab5c4;
}
.lighten-blue-2 {
  background-color: #5cc6d2;
}
.lighten-blue-3 {
  background-color: #13e2f9;
}
.lighten-blue-1,
.lighten-blue-2,
.lighten-blue-3 {
  color: #ffffff;
}
.maxWidth-119 {
  max-width: 119px;
  min-width: 90px;
  width: 100%;
}
@media (max-width: 767px) {
  .courses-button-mobile {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #05a8ba;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fbfbfb;
  }
}
