@import url(base.less);
.rightBox-border{
	border: 10px solid rgba(255, 255, 255, 0.5);
}
.form-course-box{
	.border-radius;
	background-color:@colorBlue;
	color:@colorWhite;
	.mt(-150px);
	padding:20px;
}
.fontSize-20{
	font-size:18px;
}
/******************************* 
**** Course snapshot 
********************************/
.course-snapshot-box{
	background-color:@colorGray;
	min-height:30px;
	list-style:none;
	.mb(10px);
	border-radius: 10px 30px 30px 10px;
	position: relative;
}
.course-snapshot-title{
	display:inline-block;
	vertical-align:top;
}