@import url(base.less);
.rightBox-border{
	border: 10px solid rgba(255, 255, 255, 0.5);

}
.form-course-box{
	.border-radius;
	background-color:@colorBlue;
	color:@colorWhite;
	.mt(-150px);
	padding:20px;
}