@import url(base.less);

#parallax3 {
	background-image: url(../images/Nail-courseArea.jpg);
	.para
}
#parallax2 {
	background-image: url(../images/MakeUp-courseArea.jpg);
	.para
}

#parallax1{
	background-image: url(../images/BeautyTherapy-courseArea.jpg);
	.para
}

.para
{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	
	@media(min-width:@screen-lg-min) {
		height:340px;
	}
	
	@media(min-width:@screen-md-min) and (max-width:@screen-md-max) {
		height:300px;
	}
	
	@media(min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
		height:280px;
	}
	
	@media(max-width:@screen-xs-max) {
		height:150px;
	}
}

.course-description-margin{
    @media(min-width:@screen-lg-min) {
		margin:30px;
	}
	
	@media(min-width:@screen-md-min) and (max-width:@screen-md-max) {
		margin:20px;
	}
	
	@media(min-width:@screen-sm-min) and (max-width:@screen-sm-max) {
		margin:10px;
	}
	
	@media(max-width:@screen-xs-max) {
		margin:5px;
	}
}