@import url(base.less);
@import url(../bower_components/bootstrap/less/variables.less);

.main-menu-list li a {
	@media (max-width: @screen-sm-max) {
        .pt(10px);
		.pb(10px);
    }
    .pl(0px);
    .pr(15px);
    display: inline-block;
    color: #444444;
    font-size: 16px;

    &:hover {
        color: @colorWhite;
        .transition(color 0.2s linear);
        text-decoration: none;
    }
}

@media (min-width: @screen-md-min) {

    .main-menu-list li:before {
        content: '|';
        color: @colorBlue;
        font-size: 14px;
        font-weight: bold;
        .pr(15px);
    }
}

.main-menu-list li:first-child:before {
    content: '';
}

.main-menu-list {
    @media (max-width: @screen-sm-max) {
        display: none;
    }
    padding: 0;
    margin: 0;
    z-index: 2;
}

.main-menu-list li {
    @media (min-width: @screen-md-min) {
        display: inline-block;
    }
    @media(max-width:@screen-sm-max)
    {
        border-bottom: 1px @colorBlue solid;
    }
    .ml(-7px);
    vertical-align: top;
    list-style: none;
    text-align: center;

    &:hover {
        background-color: @colorBlue;
        .border-radius(3px);
        .transition(background-color 0.3s linear);
    }
}

#burgerWrapper
{
	font-size:3em;
	color:@colorBlue;
	.mt(-5px);
}