@import url(base.less);
.support-icons{
	max-width:119px;
	min-width:90px;
	margin-top:20px;
  	width: 100%;
 	 @media(max-width:@screen-sm-max) {
		 margin-top:0px;
	}
}
@media (max-width: @screen-xs-max){
.courses-button-mobile {
	width: 100%;
    .border-radius;
	border:2px solid @colorBlue;
	display:block;
	.mb(10px);
	padding:10px;
	background-color:lighten(@colorGray, 3%);
}
}
