@import url(base.less);
.maxWidth-119{
	max-width:119px;
	width: 30%;
}
.courses-button-mobile {
  	max-width:@screen-sm-max;
	width: 80%;
    .border-radius;
	border:2px solid @colorBlue;
	display:block;
	height:30px;
    }
